/* ==========================================================================
    Custom styles - Mobile First
   ========================================================================== */
body {
    padding-top: 50px;
}

.section-hdr {
    text-align: center;
    text-shadow: 0 2px 0 rgba(0,0,0,.25);
}

.hdr-lg {
    font-size: 40px;
    margin-bottom: 20px;
}

.btn .fa,
.btn .glyphicon {
    margin-right: 5px;
}

/* -- Navbar -- */
.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand .logo {
    display: inline-block;
    height: 40px;
    margin-right: 6px;
}

.navbar-brand > span {
    font-size: 18px;
    letter-spacing: 2px;
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: -2px;
}

.navbar-toggle-cover {
    margin: 0;
    padding: 15px 18px;
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.navbar-toggle-left {
    position: absolute;
    left: 0;
    top: 0;
}

.navbar-toggle-left.navbar-toggle-cover {
    border-width: 0 1px 0 0;
}

.navbar-brand-center {
    text-align: center;
    display: block;
}

.navbar-brand-center .navbar-brand {
    float: none;
    display: block;
}

.navbar-toggle-left + .navbar-brand {
    margin-left: 60px;
}

.navbar-toggle-icon {
    display: inline-block;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-toggle.navbar-toggle-icon:focus {
    background: transparent;
}

.navbar-toggle.navbar-toggle-icon:hover:focus {
    background: #ddd;
}

.navbar-toggle-icon .lines {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background: #888;
    vertical-align: middle;
}
.navbar-toggle-icon .lines:before,
.navbar-toggle-icon .lines:after {
    position: absolute;
    display: inline-block;
    left: 0;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background: #888;
    content: '';
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform-origin: 2px center;
    transform-origin: 2px center;
}
.navbar-toggle-icon .lines:before {
    top: 8px;
}
.navbar-toggle-icon .lines:after {
    top: -8px;
}
.navbar-toggle-icon.open .lines {
    background: transparent;
}
.navbar-toggle-icon.open .lines:before,
.navbar-toggle-icon.open .lines:after {
    top: 0;
    left: -2px;
    width: 30px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.navbar-toggle-icon.open .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-toggle-icon.open .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}


/* -- About -- */
.section-about {
    background-color: #31b67f;
}

.about {
    color: #fff;
}

.about .profile-pic-container {
    padding: 20px 0;
    text-align: center;
}

.about .profile-pic {
    width: 160px;
    height: auto;
    border: 5px solid #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.55);
}

.about .about-details {
    padding: 0;
}

.about .about-heading {
    text-align: center;
    margin-bottom: 20px;
}

.about .about-heading h2,
.about .about-heading h3 {
    margin: 0;
}

.about .about-heading h3 {
    font-size: 16px;
    margin-top: 4px;
}

.about .about-resume {
    text-align: center;
    margin-bottom: 30px;
}

/* -- Skills -- */
.section-skills {
    padding: 60px 0;
    background: url(../img/ui/patterns/purty-wood-bg.jpg);
}

.skills {
    color: #fff;
}

/* Skill Item */
.skill-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.skill-item > img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.skill-item > .skill-item-info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background: url(/img/ui/patterns/opacity-black-75.png) repeat 0 0;
}

.skill-item > .skill-item-info.open {
    height: 100%;
}

.skill-item > .skill-item-info.open .skill-item-description {
    font-size: 16px;
}

.skill-item > .skill-item-info.open .skill-item-description > .inner.animated {
    display: block;
}

.skill-item > .skill-item-info.open .toggle-icon:before {
    content: "\f068"; /* fa-minus */
}

.skill-item button {
    position: relative;
    z-index: 1;
    padding: 0;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    height: 50px;
    width: 100%;
    border: 0;
    background: #20c069;
}

.skill-item button:active,
.skill-item button:focus {
    outline: 0;
}

.skill-item h4 {
    width: 100%;
    margin: 0;
    padding: 0 50px 0 15px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-family: 'Oswald', 'Franklin Gothic Medium', 'Arial', sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.skill-item .toggle-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    background: #18ac5c;
}

.skill-item .toggle-icon:before {
    font-family: 'FontAwesome';
    vertical-align: middle;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f067"; /* fa-plus */
}

.skill-item .skill-item-description {
    color: #fff;
    height: 100%;
    padding-top: 50px;
    position: absolute;
    top: 0;
}

.skill-item .skill-item-description > .inner {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.skill-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-icons > li {
    padding: 0;
    margin-right: 5px;
    display: block;
    float: left;
}



/* -- Portfolio -- */
.section-portfolio {
    padding: 50px 0 90px 0;
    background: #48c2dc;
}

.portfolio {
    color: #fff;
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-portfolio {
    margin-bottom: 30px;
    /* Prevents wierd issues/flicker caused by carousel animation */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.carousel-portfolio img {
    width: 100%;
}

.carousel-bottom {

}

.carousel-bottom .inner {
    display: none;
    color: #000;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: inset 0 0px 1px rgba(0,0,0,.1);
}

.carousel-caption {
    padding: 0;
    bottom: 0;
}

.carousel-indicators {
    position: static;
    float: left;
    width: 100%;
    margin: 5px auto 0 auto;
}

.carousel-indicators li {
    vertical-align: middle;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px;
}

/* -- Contact -- */
.section-contact {
    border-top: 28px solid #313438;
    background-color: #2a2c30;
}

.contact {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #2a2c30;
}

.contact-details {
    padding: 15px;
    margin-bottom: 30px;
    background-color: #121316;
}

.contact-details img {
    width: 80px;
    height: auto;
    margin-right: 15px;
    margin-left: 10px;
}

.contact-details h5 {
    font-family: 'Oswald';
    letter-spacing: 1px;
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid #4a4a4a;
}

.contact-details .media-body {
    width: 100%;
}

.contact-details .contact-list li {
    margin-bottom: 3px;
    line-height: 1.25;
}

.contact-details .fa-li {
    text-align: left;
}

/* -- Connect -- */
.connect {
    color: #fff;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #1e1f21;
}

.connect h3 {
    font-size: 26px;
}

.connect .social-icons li {
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.connect .social-icon {
    font-size: 18px;
    width: 42px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
}

.social-icon,
.social-icon:hover,
.social-icon:active {
    color: #fff;
}

.social-icon.facebook {
    background: -webkit-linear-gradient(top, #3b5998 0%, #1e2e4f 100%);
    background: linear-gradient(180deg, #3b5998 0%, #1e2e4f 100%);
}
.social-icon.twitter {
    background: -webkit-linear-gradient(top, #2daae1 0%, #156c93 100%);
    background: linear-gradient(180deg, #2daae1 0%, #156c93 100%);
}
.social-icon.linkedin {
    background: -webkit-linear-gradient(top, #52a2cc 0%, #2a6c8e 100%);
    background: linear-gradient(180deg, #52a2cc 0%, #2a6c8e 100%);
}
.social-icon.google {
    background: -webkit-linear-gradient(top, #d23e2b 0%, #7d251a 100%);
    background: linear-gradient(180deg, #d23e2b 0%, #7d251a 100%);
}
.social-icon.github {
    background: -webkit-linear-gradient(top, #444444 0%, #111111 100%);
    background: linear-gradient(180deg, #444444 0%, #111111 100%);
}
.social-icon.stack-overflow {
    background: -webkit-linear-gradient(top, #fe7a15 0%, #ac4b01 100%);
    background: linear-gradient(180deg, #fe7a15 0%, #ac4b01 100%);
}
.social-icon.instagram {
    background: -webkit-linear-gradient(top, #a67359 0%, #644535 100%);
    background: linear-gradient(180deg, #a67359 0%, #644535 100%);
}
.social-icon.snapchat {
    background: -webkit-linear-gradient(top, #fffc00 0%, #a09e04 100%);
    background: linear-gradient(180deg, #fffc00 0%, #a09e04 100%);
}
.social-icon.pinterest {
    background: -webkit-linear-gradient(top, #cb2027 0%, #731216 100%);
    background: linear-gradient(180deg, #cb2027 0%, #731216 100%);
}

.twitter-feed {
    margin-bottom: 20px;
}


/* -- Footer -- */
footer {
    color: #7e7f7e;
    padding: 20px;
    background-color: #313438;
    font-size: 14px;
}




/* ==========================================================================
    Small Devices - tablets, 768px and up
   ========================================================================== */
@media screen and (min-width: 768px) {

    /* Large Header */
    .hdr-lg {
        font-size: 50px;
        margin-bottom: 30px;
    }

    /* -- Navbar -- */
    .navbar-brand {
        padding: 5px;
        margin-right: 20px;
    }
    .navbar-toggle-icon {
        display: none;
    }

    /* -- About -- */
    .about .profile-pic {
        width: 250px;
    }

    .about .about-details {
        margin-top: 90px;
    }

    .about .about-resume {
        margin-bottom: 0;
    }

    /* Portfolio */
    .carousel-container {
        background: #fff;
        padding: 30px;
        box-shadow: 0 2px 1px rgba(0,0,0,.2);
    }

    .carousel-portfolio {

    }

    .carousel-portfolio img {

    }

    .carousel-bottom {

    }

    .carousel-bottom .inner {
        display: block;
    }

    .carousel-indicators li {
        border: 1px solid #dadada;
    }

    .carousel-indicators .active {
        background-color: #dadada;
    }

    /* Contact */
    .contact-details img {
        width: 100px;
    }

    .contact-details h5 {
        font-size: 20px;
    }

    .contact-details .contact-list {
        margin-left: 40px;
    }

    .contact-details .contact-list li {
        font-size: 18px;
    }

}




/* ==========================================================================
    Medium Devices - desktops, tablets (landscape), 992px and up
   ========================================================================== */
@media screen and (min-width: 992px) {

    /* -- About -- */
    .about .col-profile-pic {
        background: rgba(0, 0, 0, 0.04);
    }

    .about .col-about-details {
/*
        background: rgba(0, 0, 0, 0.07);
        border-left: 1px solid rgba(0,0,0,0.08);
        border-right: 1px solid rgba(0,0,0,0.08);
*/
    }


    .about .about-details {
        margin: 118px 0;
    }

    .col-about-resume {
        background: rgba(0, 0, 0, 0.04);
    }

    .about .about-resume {
        margin: 119px 0;
    }

    .about .about-resume .btn {
        padding: 15px;
    }

}




/* ==========================================================================
    Large Devices - large desktops, 1200px and up
   ========================================================================== */
@media screen and (min-width: 1200px) {

    /* -- About -- */
    .about .about-resume .btn {
        padding: 15px 25px;
    }

}


/* Custom Scenarios */
@media screen and (max-width: 480px) {
    .contact-details img {
        display: none;
    }
}





